body,
ul {
    background-image: url(quora.png);
    list-style: none;
}
.header {
    display: block;
    margin-top: 120px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
}
.header h1 {
    color: #910505;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}
.header h3 {
    font-size: 20px;
    text-align: center;
}
span:hover {
    text-decoration: underline;
}
#border button {
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;
    float: right;
    font-size: 12px;
    color: white;
}
#border {
    width: 600px;
    margin: auto;
    padding: 40px;
    border: solid 1px;
    box-shadow: 5px 5px 5px 5px #dcdcdc;
    border-radius: 4px;
    background: white;
    height: 200px;
}
#google {
    display: block;
    background-color: darkred;
    color: white;
    padding: 10px;
    text-align: center;
}
#facebook {
    display: block;
    position: relative;
    background-color: midnightblue;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    color: white;
}
#email {
    margin-top: 10px;
}
#links {
    float: left;
    width: 250px;
}
#login {
    margin-top: 0;
    float: right;
    margin-right: 30px;
    width: 250px;
}
#nav {
    margin-bottom: 200px;
    text-align: center;
}
#nav ul li {
    display: inline-block;
    text-align: center;
    padding: 15px;
}
#input {
    width: 200px;
    border-radius: 3px;
}
#nav a {
    text-decoration: none;
    color: #0f0c0c;
}
i {
    padding: 5px;
}
