body {
    background-image: url(quora.png);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header {
    display: block;
    margin-top: 200px;
    width: 45% margin-left: 20% margin-right: 20%;
    margin-bottom: 40px;
}
.header h1 {
    color: #910505;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.header h3 {
    font-size: 20px;
    text-align: center;
}
span:hover {
    text-decoration: underline;
}
button {
    background-color: darkblue;
    width: 50px;
    padding: 10px;
    height: 2px;
}
.border {
    display: inline-block;
    border: solid;
}
#google {
    background-color: darkred;
    color: white;
    padding: 10px;
    width: 20%;
    text-align: center;
    margin-left: 25%;
}
#facebook {
    position: relative;
    background-color: midnightblue;
    padding: 10px;
    width: 20%;
    margin-top: 20px;
    text-align: center;
    color: white;
    margin-left: 25%;
}
#email {
    margin-top: 20px;
    margin-left: 25%;
}
#form {
    display: block;
    background-color: red;
    width: 60%;
    border: solid 10px;
}
.nav {
    text-align: center;
}
.footer {
    text-align: center;
}
